# Credenciales del sistema interno Fedafar (red local)
FEDAFAR_USER=FACU
FEDAFAR_PASS=tu_contraseña_aqui

# Supabase (se obtienen al crear el proyecto en supabase.com)
SUPABASE_URL=https://xxxxxxxxxxxx.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
